<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RapApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RapApp.NoAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MovieListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".admin.activities.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminMovieListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminMovieFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminCinemaListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminCinemaFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminProductListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminProductFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminShowtimeListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminShowtimeFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminBannerListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminBannerFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminNewsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminNewsFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminRoomListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminRoomFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminUserListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminUserDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminUserFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminComboListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminComboFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".SeatSelectionActivity" />
        <activity android:name=".ComboSelectionActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ShopCheckoutActivity" />
        <activity android:name=".TransactionHistoryActivity" />
        <activity android:name=".TransactionDetailActivity" />
        <activity android:name=".PromoDetailActivity" />
        <activity android:name=".ProfileEditActivity" />
    </application>

</manifest>